@model Task_1_with_Identity.Models.IndexViewModel
@{
    ViewBag.Title = "Личный кабинет";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Ваша личная информация</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>
            @Model.LoginedBuyer.Email
        </dd>

        <dt>ФИО:</dt>
        <dd>
            @Model.LoginedBuyer.Name @Model.LoginedBuyer.Surname
        </dd>

        <dt>Телефон:</dt>
        <dd>
            @Model.LoginedBuyer.PhoneNumber
        </dd>

        <dt>Адрес доставки: </dt>
        <dd>@Model.LoginedBuyer.Address </dd>
        <dt> Текущий баланс:</dt>
        <dd id="current">@Model.LoginedBuyer.Balance</dd>

        <dt>Добавить средства:</dt> <dd><input type="text" id="moneyToAdd" /> <input type="button" value="Пополнить" id="addMoney" />  </dd>

    </dl>
    <hr />


    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Измененить пароль", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Корзина:</dt>
        <dd>
            @Html.ActionLink("Корзина", "Cart", "Manage", null, null)
        </dd>

        <dt>История покупок</dt>
        <dd>
            @Html.ActionLink("История покупок", "History", "Manage", null, null)
        </dd>


    </dl>




</div>
<script>

        jQuery(document).ready(function () {

            $('#addMoney').click(function () {
                var money = parseInt($("#moneyToAdd").val(),10);
                if (!isNaN(money)) {

                    if (money < 1) {
                        toastr.warning('Сумма введена неверно!', { timeOut: 2500, "closeButton": true });
                        return;
                    }

                    $.ajax({
                        type: "POST",
                        url: "/Manage/AddMoney/?money=" + money,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response != null) {

                                toastr.success('Вы успешно пополнили счет', { timeOut: 2500, "closeButton": true });
                                $("#current").text(response.Count);

                            }
                            else {

                            }

                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }

                    });
                }
                else {
                    toastr.warning('Сумма введена неверно!', { timeOut: 2500, "closeButton": true });
                }
            });
        });

</script>
