@using Microsoft.AspNet.Identity
@using Task_1_with_Identity.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        if (HttpContext.Current.User.IsInRole("admin"))
        {
    <ul class="nav navbar-nav navbar-right">

        <li class="nav-item">
            <a class="nav-link disabled" href="#">Вы вошли как администратор</a>
        </li>
        <li>@Html.ActionLink("Администрирование", "Index", "Admin", null, null)</li>

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выход</a></li>
    </ul>
        }
        else
        {
            string CartCount = "";
            Model1 model1 = new Model1();
            Buyer buyer = model1.Buyer.Where(b => b.Email == User.Identity.Name).Single();
            CartCount = buyer.Carts.Count().ToString();
            if (CartCount != "") { CartCount = "(" + CartCount + ")"; }
    <ul class="nav navbar-nav navbar-right">

        <li class="nav-item">
            <a class="nav-link disabled" href="#">Здравствуйте,  @User.Identity.Name</a>
        </li>
        <li>@Html.ActionLink("Корзина "+CartCount, "Cart", "Manage", null,  htmlAttributes: new {id="labelCart" })</li>
        <li>
            @Html.ActionLink("Личный кабинет", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выход</a></li>
    </ul>
                    }
                }
            }
            else
            {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
